
* {
  padding: 0;
  margin: 0;
}

li{
    list-style: none;
    padding:1em;
    text-decoration:none;
    color: black;
    margin-top: 5px;

  }

ul {
  list-style: none;
  padding: 0;
  margin-top: -55px;
  margin-right: -20px;
  box-sizing: border-box;
  text-decoration: none;
}
  .Caption {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-family: HelveticaNeue-Medium, "HelveticaNeueMedium", Helvetica, Arial, sans-serif;
  }

  .link{
    text-decoration:none;
    color: white;
  }

.menu {
  text-align: right;
  padding: 1em 7em 0 0;
}

  h1{
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    font-family: typeface-body, serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px #333;;
  }
body {
  background-image: url("ac68e9ede5b84d83bf172fa518f03461.gif");
  background-color: lightgrey;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  margin: 20px 40px;
  color: white;
  text-align: center ;
}

.heading {
  font-family: typeface-body, serif;
  font-size: 60px;
  color: #FDFD96;

}

.heading span {
  font-style: italic;
  font-size: 30px;
}

.profiles {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-left: auto;
  margin-top: auto;

}

.profile {
  flex-basis: 190px;
}
.info{
    display: none;
}

.profile .profile-img {
  height: 210px;
  width: 210px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}
.profile:hover .user-name{

    color: yellow;
  }
  .profile:hover .info{
   display: block;
   margin-top: 1em;
   font-family: 'Courier New', Courier, monospace;

  }

.user-name {
  font-family: typeface-body, serif;
  margin-top: 30px;
  font-size: 30px;
}



@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }


  .profiles {
    margin: 20px 0;
  }

}

a:hover {
    font-size: x-large;
    color: darkgray;
  }


