html, body {
    height: 100%;
    margin: 0;
  }
li{
  list-style: none;
  padding:1em;
  text-decoration:none;
  color: black;
  margin-top: 10px;
}
ul {
  list-style: none;
  padding:4em;
  padding-right:7em;
  box-sizing: border-box;
  text-decoration:none;
}
.Caption {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-family: HelveticaNeue-Medium, "HelveticaNeueMedium", Helvetica, Arial, sans-serif;
}
.link{
  text-decoration:none;
  color: white;
}
.menu{
  text-align: right;
}
body {
  background-image: url("homegif.gif");
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: -1;
}


.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
font-size: 60px;
font-weight: lighter;
color: white;
  letter-spacing: 7px;
  font-family: typeface-body, serif;
}

a:hover {
    font-size: x-large;
    color: darkgray;
  }
