h1 {
  margin: 20px 0;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  font-weight: lighter;
  color: white;
  letter-spacing: 7px;
  font-family: typeface-body, serif;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: -15px;
  margin-right: 120px;
  text-decoration:none;
}

.Caption {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-family: HelveticaNeue-Medium, "HelveticaNeueMedium", Helvetica, Arial, sans-serif;
}

.link{
  text-decoration:none;
  color: White;
}

li{
  list-style: none;
  padding:1em;
  text-decoration:none;
  color: black;
  margin-top: 10px;
}

a:hover
{
  font-size: x-large;
  color: darkgray;
}

body{
  background-color: rgb(204, 192, 179);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: -1;
}

.menu{
  text-align: right;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 0 auto; /* Center the container itself */
  width: calc(100% - 40px);
  height: calc(100% - 20px);
}

.box {
  width:25%;
  height: 500px;
  margin: 0;
  border: 2px solid black;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.box a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transform: rotateY(-90deg);
  transition: all 0.5s ease;
}

.box:hover:before {
  transform: rotateY(0deg);
}

.box:hover {
    transform: scale(1.05);
    z-index: 1;
  }

  .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
